:root {--primary: #2563EB;
       --accent: #EF4444; /* Merah untuk 'New/Live' */
       --dark: #111827;
       --gray: #6B7280;
       --light-bg: #F9FAFB;
       --white: #FFFFFF;
       --radius: 12px;
       --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
       --transition: all 0.3s ease;}

* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; }

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}


a { text-decoration: none; color: inherit; }
ul { list-style: none; }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom:20px;
}

@keyframes pulse { 0% { opacity: 1; } 50% { opacity: 0.4; } 100% { opacity: 1; } }

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero-card { grid-template-columns: 1fr; }
    .hero-image { height: 250px; }
    .hero-content { padding: 1.5rem; }
    .nav-links { display: none; }
}